.main-div-blessing{

    padding-top:30px; 
    text-align: center;
font-size: 100%;
    line-height: 40px;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    color: white;
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
text-transform: uppercase;
min-width: 300px;
z-index: 2;

}

.main-div-blessing h3{
    font-size: 20px;
    line-height: 30px;

}
.main-div-blessing h4{
    font-size: 15px;
    line-height: 30px;
}
.main-div-blessing h5{
    font-size: 15px;
    line-height: 20px;
color: #ebf6f4;
}
.Aslar{
    position: relative;
    bottom: 15px;
}