*{
    margin: 0px;
padding: 0px;
}
.containier{
margin: 0px;
padding: 0px; 
    min-width: 200px;
min-height: 100vh;

box-sizing: border-box;
background: url(../picture/whatsapp.jpg);
}
.set-background-image{
    min-width: 200px;
margin: 0px;
padding: 0px;

}
.whatisyourname{
    width: 150px;
    height: 20px;
    background:#01210b;
border: 4px solid #01210b;
border-radius: 8%;
display: block;
margin-top: 10px;
margin-bottom: 10px;
margin-right: 10px;

}
.msg-background-we{

    
    width: 250px;
    height: 300px;
    background:#01210b;
border: 4px solid #01210b;
border-radius: 8%;
display: block;
margin-top: 10px;
position: relative;
left: calc(100vw - 300px);

}
.msg-background-eldhose{

    width: 180px;
    height: 290px;
    background:#01210b;
border: 4px solid #01210b;
border-radius: 8%;
display: block;
margin-top: 10px;
position: relative;
left: calc(100vw - 220px);

}
.msg-background-alina{
    width: 240px;
    height: 250px;
    background:#01210b;
border: 4px solid #01210b;
border-radius: 8%;
display: block;
margin-top: 10px;
padding-top: 60px;
padding-bottom: 2px;
position: relative;
left: calc(100vw - 280px);
}
.whats-app-pargraph{
    color:"white" !important;
        animation-name: "hi";
        margin:"4px";
 font-size: 12px;       
font-family: Arial, Helvetica, sans-serif;
}
.msg-background-save-date{
    width: 270px;
 
    background:#01210b;
    border: 4px solid #01210b;
    border-radius: 8%;
    display: block;
    margin-top: 10px;
    position: relative;
    left: calc(100vw - 330px);   

}
.msg-background-save-location{
    width: 310px;
 
    background:#01210b;
    border: 4px solid #01210b;
    border-radius: 8%;
    display: block;
    margin-top: 10px;
    position: relative;
    left: calc(100vw - 340px);   


}

.head{
    margin: 0px;
    padding: 0px; 
        width: 100vw;
    height: 60px;
background:#393b39;       
position: fixed;
top: 0px;
z-index: 1;
display: inline-block;
box-shadow: 2px 1px #888888;
}
.profile{
    border-radius: 50%;
margin: 3px;
    height: 50px;
width: 50px;
}

.typing{

height: 10px;
text-align: center;
position: relative;
bottom: 30px;
font-family:'Courier New', Courier, monospace;
font-size: 13px;
}
.typingCompleted{
    
height: 10px;
text-align: end;
position: relative;
bottom: 30px;
font-family:Arial, Helvetica, sans-serif;
font-size: 10px;
padding-right: 30px;
}
.loading{
    width: 100px;
    height: 100px;
    background: red;
    transition:12s linear 1s;
    transform: rotate(360deg);
}